.storage
home-assistant.log*
home-assistant_v2.db*
__pycache__/
*.py[cod]
*$py.class
github_hosts.log*
*.swp
hass_nabucasa
.cloud
.HA_VERSION
node-red
zigbee2mqtt
add-ones/gza/data
patch.log
http.yaml
mqtt.yaml
mqtt_dump.txt
.vscode/
.shopping_list.json
/env.sh
/media_player.yaml*
/climate.yaml*
/fan.yaml*
/dashboard/mattias/ui-lovelace.yaml
/dashboard/mattias/ui-lovelace.yaml.bak
/image/
/backups/
*.bak
10.json
/custom_components/smartir/codes/
/tts/
/add-ones/gza/libs/dist/
/add-ones/gza/libs/node_modules/
/add-ones/mqtt_sensor/config.ini
/custom_components/home-llm-0.3.3/
/media/
/custom_components/llama_conversation/
/custom_components/ezlo_integration/
/custom_components/finnhub/
/www/video/
/google_service_account.json
/www/stock_data/
/.token.json
/.ha_run.lock
/.cache/
